<div class="header sm-and-down-hide">
    <div class="header__wrapper-desktop">
        <img class="header__wrapper-desktop--logo" src="../../assets/images/TGL-Logo-Hoz.png" alt="logo">
        <div>
            <i class="header__wrapper-desktop--add icon-add-outline"></i>
        </div>
    </div>
</div>
<div class="header md-and-up-hide">
    <div class="header__wrapper-mobile">
        <i class="header__wrapper-mobile--icon icon-menu"></i>
        <i class="header__wrapper-mobile--icon icon-user"></i>
    </div>
</div>

