<div class="footer md-and-up-hide">
    <div class="footer__items">
        <div class="footer__items--item">
            <i class="icon-dashboard"></i>
            <span class="footer__items--item-label">Dashboard</span> 
        </div>
        <div class="footer__items--item">
            <i class="footer__items--item icon-list2"></i>
            <span class="footer__items--item-label">Jobs</span> 
        </div>
        <i class="footer__items--item footer__items--item-add icon-add-outline"></i>
        <div class="footer__items--item">
            <i class="footer__items--item icon-file-empty"></i>
            <span class="footer__items--item-label">Quotes</span> 
        </div>
        <div class="footer__items--item">
            <i class="footer__items--item icon-bubble2"></i>
            <span class="footer__items--item-label">Contact</span> 
        </div>
    </div>
</div>