<div style="margin: 5rem 2rem;display: flex;justify-content: center;">
    <table class="table">
        <thead class="table__header">
            <tr>
                <th class="table__header--item" style="width: 4%;">ID</th>
                <th class="table__header--item" style="width: 30%;">Name</th>
                <th class="table__header--item" style="width: 36%;">Types</th>
                <th class="table__header--item" style="width: 15%;">Weight</th>
                <th class="table__header--item" style="width: 15%;">Base Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row100 body">
                <td class="cell100">1</td>
                <td class="cell100">Bulba</td>
                <td class="cell100">daa</td>
                <td class="cell100">32</td>
                <td class="cell100">65</td>
            </tr>
            <tr class="row100 body">
                <td class="cell100">1</td>
                <td class="cell100">Bulba</td>
                <td class="cell100">daa</td>
                <td class="cell100">32</td>
                <td class="cell100">65</td>
            </tr>
            <tr class="row100 body">
                <td class="cell100">1</td>
                <td class="cell100">Bulba</td>
                <td class="cell100">daa</td>
                <td class="cell100">32</td>
                <td class="cell100">65</td>
            </tr>
        </tbody>
    </table>
</div>