@import "../abstracts/mixins";

:root {
    --color-primary: #ff3200;
    @include darken(--color-primary-dark, #ff3200, 30%);
    @include lighten(--color-primary-light, #ff3200, 20%);

    --color-secondary: #1c355e;
    @include darken(--color-secondary-dark, #1c355e, 30%);
    --color-secondary-light: #169bd5;

    --color-grey-light-1: #FDFDFD;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-input: #fafbfb;
    --color-border: #c5ccd1;

    --color-red: #e74c3c;
    --color-orange: #e67e22;
    --color-green: #2ecc71;
    --color-blue: #3498db;
}