<div class="greeting">
    <div class="greeting__welcome">
        <p class="greeting__welcome--message">
            Welcome back, {{name}}!
        </p>
    </div>
    
    <div class="greeting__card">
        <div class="greeting__card--item">
            <div class="greeting__card--item-icon">
                <i class="icon-list2"></i>
            </div>
            <span class="greeting__card--item-label">Open Jobs</span>
        </div>
        <div class="greeting__card--item">
            <div class="greeting__card--item-icon">
                <i class="icon-file-empty"></i>
            </div>
            <span class="greeting__card--item-label">Quotes</span>
        </div>
        <div class="greeting__card--item">
            <div class="greeting__card--item-icon">
                <i class="icon-conversation"></i>
            </div>
            <span class="greeting__card--item-label">Messages</span>
        </div>
    </div>
</div>
