@import "../styles/components";
@import "../styles/abstracts";

.dashboard {
    width: 100vw;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10%;

    @include sm-and-down {
        margin: 10px 5%;
    }
}

.button-1 {
    @include button($_type:  "raised");
    height: 40px;
    width: 166px;
}

.button-2 {
    @include button();
    height: 40px;
    width: 166px;
}