*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    font-size: 62.5%;
    
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 49%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {  
    background-color: #FFF;
	box-sizing: border-box;
}

button {
    outline: none;
}

ol,
ul {
	list-style: none;
}

a,
a:active {
	text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
